# Ignorar entorno virtual
venv/

# Ignorar archivos de configuración de VSCode
.vscode/

# Ignorar archivos de sistema
__pycache__/
*.pyc
firebase/firebase-credentials.json

#Ignorar claves
.env
.venv
.vercel
.env*.local
